<ul class="siderbarNav-items">
  <li [routerLinkActiveOptions]= "{exact:true}" [routerLinkActive]= "['active']"><a [routerLink]="['/dashboard']"><span class="flaticon-yoga">Dashboard</span></a></li>
  <li [routerLinkActiveOptions]= "{exact:true}" [routerLinkActive]= "['active']"><a [routerLink]="['/history']"><span class="flaticon-history">History</span></a></li>
  <li [routerLinkActiveOptions]= "{exact:true}" [routerLinkActive]= "['active']"><a [routerLink]="['/statistics']"><span class="flaticon-pie-chart">statistics</span></a></li>
  <li [routerLinkActiveOptions]= "{exact:true}" [routerLinkActive]= "['active']"><a [routerLink]="['/settings']"><span class="flaticon-settings">settings</span></a></li>
</ul>