.tagline-header{
    margin-top: 0;
    margin-bottom: .4rem;
    text-transform: capitalize;
}
.tagline-subHeader{
    font-size: 1.4em;
    width: 74%;
}
.tagline{
    color: #fff;
}
.banner{
    padding-top: 10rem;
    padding-bottom: 5rem;
    background: url(/assets/images/wubba-banner.jpg) no-repeat;
    background-size: cover;
    height: 55vh;
    background-position: center center;
}
.banner-form{
    width: 30%;
    border: 1px solid #8e8e8e;
    padding: 1rem;
    border-radius: 2px;
    background: #fff;
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.row-header{
    text-transform: capitalize;
    margin-top: 0;
}
.section .row-header{
    margin-top: 1.4rem;
}
.row{
    display: flex;
    padding-top: 1.8rem;
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
}
.row-header.center,
.row-content.center{
    text-align: center;
    padding: 0 .6rem;
}
.feature-section .row-content{
    width: 100%;
}
.features{
    display: flex;
    margin-top: 1.2rem;
}
.features .feature{
    text-align: center;
}
.features .feature span:before{
    margin-left: 0;
    font-size: 4em;
}
.feature-title{
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 900;
}
.row-header .border{
    display: inline-block;
}
.row-header.center .border:after{
    margin: 0 auto;
    margin-top: 0.5rem;
}
.row-header .border:after{
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background: #007BE6;
    margin-top: 0.5rem;
}
.section p{
    padding-right: 1.5rem;
}
.feature-content{
    margin-top: 0.4rem;
    font-size: .8rem;
    padding: 0 0.8rem;
}
.row-content{
    width: 100%;
}
.contact-form{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
.contact-form .form-group{
    width: 49%;
}
.contact-form .form-group:not(:last-child) input{
    border: 0;
    border-bottom: 1px solid #b7b7b7;
    margin: 0;
    background: transparent;
    outline: 0;
}
.contact-form .textarea{
    width: 100%;
    resize: none;
}
.contact-form textarea{
    width: 97%;
    padding: .3rem .5rem;
}
.contact-form  input[type="submit"]{
    display: inline-block;
    width: auto;
}
.container .row:last-child{
    border-bottom: none;
}